*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conte {
    width: 600px;
    height: 800px;
    background: #50b6ff;
    display: flex;
    flex-wrap: wrap;
}

.blokA{
    width: 100%;
    height: 40%;
    background: coral;
}

.blokB{
    width: 70%;
    height: 60%;
    background:gold;
}

.blokC{
    width: 30%;
    height: 60%;
    background: #ff50e8;

}
